
p{
    color: rgb(218, 222, 208);
}
body{
    background-color: rgb(77, 74, 71);
}

.maria {
    background-color: rgb(60, 76, 70);
}
img {
    transition: transform 1s ease;
}
img:hover {
    border-radius: 10px;
    border: 5px solid rgb(201, 201, 220); /* Gasto, estilo y color del borde */
    transform: scale(0.7) rotate(360deg);
}
.caja {
    width: 150px;
    height: 150px;
    background-color: rgb(181, 208, 199);
    margin: 50px;
    transition: transform 1s ease;
}
/* maria  x horizontal y vertical*/
.translate{
    transform: translate(50px , 30px);
}
/* rotacion en grados*/
.rotate {
    transform: rotate(90deg);
}
/*  cambia el tamano del elemento */
.scale {
    transform: scale(1.3);
}
/*  inclina un elemento en un espacio bimencional */
.skew {
    transform : skew( 20deg , 10deg)
}
.caja:hover {
    transform: scale(1,1) rotate(15deg);
}